@{
    ViewData["Title"] = "ÖZEL ATALI HASTANESİ";
}

<div class="text-center">
    <h1 class="display-4">ASDASSSSD</h1>
    <p>Learn about <a href="/Auth/Register">building Web apps with ASP.NET Core</a>.</p>
</div>
